/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f0f0f; /* Dark background */
    color: #ffffff; /* White text */
    font-family: 'Arial', sans-serif;
}